<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="x-content-type-options=nosniff" />
    <meta name="apple-mobile-web-app-title" content="Big Tent Games" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="theme-color" id="themeColor" content="#111111" />

    <title>Big Tent Games</title>

    <meta name="description" content="This is Big Tent Games, a gaming company that dreams big and creates fun video games for everyone! Most of the games here are designed for mobile devices first, but all of them work on regular computers too. Let's go!" />
    <meta name="keywords" content="Big Tent Games, Casual, Video, Games, Casual Games, Casual Gaming, Video Games, Gaming, Wil Voss." />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="Big Tent Games" />
    <meta property="og:site_name" content="Big Tent Games" />
    <meta property="og:description" content="Casual and not so casual games created by the minds at Big Tent Games." />
    <meta property="og:type" content="photo" />
    <meta property="og:url" content="https://bigtentgames.com" />
    <meta property="og:image" content="https://bigtentgames.com/images/btg_og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link id="appleicon" rel="apple-touch-icon" sizes="180x180" href="images/icon180.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="images/icon512.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="favicon-alt.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-b-16x16.png" />
    <link rel="stylesheet" href="styles/normalize.css" media="screen" />
    <link rel="stylesheet" href="styles/btg.css" media="screen" />
  </head>

  <body>
    <app v-cloak :style="{backgroundColor: getCurrentPageComputed.backgroundColor === '' ? 'hsl(var(--bannerHS), 45%)' : getCurrentPageComputed.backgroundColor}" id="app">
      <onionskin :class="{show: showOnionskin}" @click="ToggleShowOnionSkin">
        <img :src="onionSkinImageSrc" />
      </onionskin>
      <stage>
        <nav>
          <selector :class="{on: page.isSelected, banner: page.useBanner}" v-for="page in pages" @click="ChangeHashToPagePath(page.path)" v-if="page.showInNav">
            <button :style="{backgroundImage: 'url(' + page.url + '/images/icon512.png)'}"><banner :class="[page.bannerType]">{{page.bannerText}}</banner><img :src="page.url + '/images/icon512.png'" :alt="'This is an image of the game elements and the title for the game ' + page.name +'.'" /></button>
          </selector>
        </nav>
        <content>
          <article v-if="getCurrentPageComputed.path === 'home'">
            <section>
              <intro>
                <header>
                  <h1>Welcome!</h1>
                  <p>This is Big Tent Games, a gaming company that dreams big and runs small while creating fun video games for everyone! Most of the games here are designed for mobile devices first, but all of them work on regular computers too. Let's go!</p>
                </header>
              </intro>
              <h2>Available games</h2>
              <games>
                <selector v-for="page in pages" v-if="page.showAsGame" :class="{banner: page.useBanner}">
                  <button :title="'Open the page for the game ' + page.name + '.'" @click="ChangeHashToPagePath(page.path)" :style="{backgroundImage: 'url(/images/' + page.path + '/' + page.path + '_og.png)'}">
                    <banner :class="[page.bannerType]">{{page.bannerText}}</banner>
                    <img :src="'/images/' + page.path + '/' + page.path + '_og.png'" :alt="'This is an image of the game elements and the title for the game ' + page.name +'.'" />
                  </button>
                </selector>
              </games>
              <h2>About</h2>
              <p>Big Tent Games is the brainchild of Wil Voss, game player, game designer, product designer, UX designer, coder, and prototyper. The big dream is to create and publish games here that are so captivating and addictive that folks play not just one game once but multiple games all of the time!</p>
              <p>If any of the games here intrigue, excite, confound, or confuse you, <a href="mailto:bigtentgames@icloud.com">please let us know</a>!</p>
              <h2>Community</h2>
              <p>
                Join on us on Discord:
                <a href="https://discord.gg/gaBqXQDf" target="_blank">Big Tent Games</a>
              </p>
              <h2>How can you help?</h2>
              <p>Currently, Big Tent Games doesn't earn money on any of these games. The games are free and we don't use ads or any 3rd party (or 1st party) trackers on any of our games or this site. Any donation you make goes towards creating and improving these games.</p>
              <button class="action" @click="window.open('https://www.buymeacoffee.com/wilvoss')">Buy me a coffee!</button>
            </section>
          </article>
          <article v-if="getCurrentPageComputed.showAsGame">
            <section>
              <intro>
                <header>
                  <h1>
                    {{getCurrentPageComputed.name}}
                    <span>{{ getCurrentPageComputed.bannerText !== 'free!' ? '(' + getCurrentPageComputed.bannerText + ')' : 'v' + getCurrentPageComputed.version}}</span>
                  </h1>
                  <h2>{{getCurrentPageComputed.description}}</h2>
                  <installers>
                    <button class="action" @click="window.open(getCurrentPageComputed.url, '_blank')">Free Online</button>
                    <button v-if="(platform.indexOf('android') != -1 || platform.indexOf('linux') != -1) && getCurrentPageComputed.googleplayurl !==''" class="action" @click="window.open(getCurrentPageComputed.googleplayurl, '_blank')">Free on Google Play</button>
                    <button v-if="platform.indexOf('ios') != -1 && getCurrentPageComputed.appleappstoreurl !==''" class="action" @click="window.open(getCurrentPageComputed.appleappstoreurl, '_blank')">Free on App Store</button>
                    <button v-if="platform.indexOf('mac') != -1 && getCurrentPageComputed.appleappstoreurl !==''" class="action" @click="window.open(getCurrentPageComputed.appleappstoreurl, '_blank')">Free on App Store</button>
                    <button v-if="platform.indexOf('win') != -1 && getCurrentPageComputed.msappstore !==''" class="action" @click="window.open(getCurrentPageComputed.msappstore, '_blank')">Free on App Store</button>
                  </installers>
                  <!-- <button class="light" @click="window.open(getCurrentPageComputed.url, '_blank')">{{getCurrentPageComputed.price === '$0.00' ? 'Play for free!' : getCurrentPageComputed.price}}</button> -->
                </header>
              </intro>
            </section>
            <section v-if="getCurrentPageComputed.about != ''" v-html="getCurrentPageComputed.about"></section>
            <section v-if="getCurrentPageComputed.screenshots.length >0">
              <screenshots>
                <screenshot @click="ZoomImage('images/' + getCurrentPageComputed.path + '/' + screenshot)" v-for="screenshot in getCurrentPageComputed.screenshots">
                  <img :src="'images/' + getCurrentPageComputed.path + '/' + screenshot" />
                </screenshot>
              </screenshots>
            </section>
            <section>
              <h2>Did you know?</h2>
              <h3 v-if="!getCurrentPageComputed.isMobileFirst">Best on desktop</h3>
              <p>The online version of {{getCurrentPageComputed.name}} can be installed on almost any device as if it was an application. Most operating systems will help you install this page when you first visit the website with a simple banner notification. Once you've opened the game in your browser on iOS, open the Share menu from your browser and then choose Save to your Home Screen.</p>
            </section>
            <section v-if="getCurrentPageComputed.socialLinks.length>0">
              <h2>Community</h2>
              <ul>
                <li :class="[link.class]" v-for="link in getCurrentPageComputed.socialLinks"><a :href="link.url" target="_blank">{{link.name}}</a></li>
              </ul>
            </section>
            <section id="versionHistory" :class="{expanded: expandVersionHistory, collapsed: !expandVersionHistory}" v-if="getCurrentPageComputed.versionHistory != ''" v-html="getCurrentPageComputed.versionHistory"></section>
            <sectionToggle v-if="getCurrentPageComputed.versionHistory != '' && !expandVersionHistory" @click="ToggleExpandVersionHistory"> ...click to see more history </sectionToggle>
          </article>
          <article v-if="getCurrentPageComputed.path === 'privacy'">
            <section>
              <intro>
                <header>
                  <h1>Privacy Policy</h1>
                </header>
              </intro>
              <h2>Introduction</h2>
              <p>Welcome to Big Tent Games</p>
              <p>Big Tent Games (“us”, “we”, or “our”) operates the domains bigtentgames.com, likeme.games, dropnstop.games, commoddities.games, and any other related subdomains related to those properties (collectively referred to hereinafter as “Services”).</p>
              <p>Our Privacy Policy governs your visit to any page, subdomain, or site on any of the aforementioned domains and any online page owned and operated by Big Tent Games, and explains how we collect, safeguard and disclose information that results from your use of our Services.</p>
              <p>We use non-identifiable information to provide and improve Services. By using Services, you agree to the collection and use of non-identifiable information in accordance with this policy.</p>
              <h2>Information Collection and Use</h2>
              <p>We don't use cookies.</p>
              <p>We won't knowingly sell or give away your data.</p>
              <p>If we actually start selling pages, for real, then we may start using any non-identifable data we collect to improve our marketing efforts.</p>
              <p>If you contact us for any reason, then we will use your contact information to respond and communicate with you.</p>
              <p>If you want us to delete that information, let us know, and then we will delete all data we have control over.</p>
              <h2>Say what?</h2>
              <p>This privacy stuff is exhausting.</p>
              <p>This is Wil speaking now, the owner of Big Tent Games. I am just trying to make video games people will enjoy and maybe even pay for. I am not a big evil corporation, I don't have lawyers and I really don't want to hurt my users in any way, shape, or form.</p>
            </section>
          </article>
          <footer>&copy; {{year}} Big Tent Games <a v-if="getCurrentPageComputed.path !== 'privacy'" href="#privacy">Privacy Policy</a><a href="mailto:bigtentgames@icloud.com">Contact</a></footer>
        </content>
        <footer>&copy; {{year}} Big Tent Games <a v-if="getCurrentPageComputed.path !== 'privacy'" href="#privacy">Privacy Policy</a><a href="mailto:bigtentgames@icloud.com">Contact</a></footer>
      </stage>
    </app>
    <script src="helpers/console-enhancer.js" type="text/javascript"></script>
    <script id="vue-framework" src="helpers/vue.min.js" type="text/javascript"></script>
    <script src="models/PageObject.js" type="text/javascript"></script>
    <script src="scripts/btg.js" type="text/javascript"></script>
  </body>
</html>
