:root {
  --appForeground: hsl(0, 0%, 73%);
  --appBackground: hsl(0, 0%, 11%);
  --targetX: 50%;

  --pieceSize: 110px;
  --gridSize: 110;
}
html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  line-height: 150%;
  overflow: hidden;
  color: var(--appForeground);
  user-select: none;
  -webkit-user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1080px;
  margin: 0px auto;
  overflow: auto;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(30, 30, 30, 0.5) 200px, rgba(30, 30, 30, 0) 400px), repeating-linear-gradient(90deg, #2a2a2a 0px, #2a2a2a 40px, #303030 40px, #303030 80px);
  background-attachment: scroll;
  background-repeat: no-repeat, repeat;
}

[v-cloak] {
  transition: 250ms ease-out opacity;
  opacity: 0;
}

.disabled,
:disabled {
  pointer-events: none;
  opacity: 0.1;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 60px 0px 0px 0px;
  line-height: 100%;
  font-weight: normal;
}

a,
a:visited,
a:focus,
a:active {
  color: var(--appForeground);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

stage {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 824px;
  margin: 0px auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

logo {
  display: block;
  margin-top: 40px;
  width: 220px;
  height: 230px;
  background: #ffffff;
  opacity: 0.3;
  cursor: pointer;
  transform: scale(0.7);
  transition: 4s ease-in-out all;
  mask-image: url(../images/big_tent_logo.svg);
  -webkit-mask-image: url(../images/big_tent_logo.svg);
  mask-size: 220px;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: 220px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

logo:hover {
  transition: 30s ease-out all;
  opacity: 0.6;
  transform: scale(0.9);
}

logo img {
  opacity: 0;
}

p {
  padding: 0px 40px;
  text-align: center;
}

games {
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  margin: 40px 0px 80px;
}

game {
  flex-basis: calc(50% - 10px);
  border-radius: 4px;
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  /* box-shadow: 0px 0em 1em rgba(0, 0, 0, 0.5); */
}

game img {
  opacity: 0;
  width: 100%;
}

form {
  width: 100%;
  text-align: center;
}

button {
  cursor: pointer;
  margin-top: 40px;
  width: 100%;
  border: none;
  background: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 20px 0px;
  line-height: 100%;
}

.walloftext p {
  display: block;
  width: calc(100% - 20px);
  text-align: left;
}

@media only screen and (max-width: 500px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 20px 0px 0px 0px;
    line-height: 100%;
    font-weight: normal;
  }

  logo {
    margin-top: 0;
    height: 30%;
    transition: none;
  }
  games {
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    column-gap: 0;
    row-gap: 0;
    margin: 10px 0px 20px;
  }
  game {
    flex-basis: 100%;

    width: calc(100% - 40px);
    margin: 10px 20px;
  }
  P {
    padding: 0px 20px;
  }
}
