@font-face {
  font-family: 'Display';
  src: url('../fonts/ArchivoNarrow-VariableFont_wght.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Text';
  src: url('../fonts/ArchivoNarrow-VariableFont_wght.ttf');
  font-weight: 400;
}

:root {
  --bodyBackground: 0, 0%, 0%;

  --appForegroundWeakest: 0, 0%, 46%;
  --appForegroundWeaker: 0, 0%, 25%;
  --appForeground: 0, 0%, 7%;
  --appForegroundStronger: 0, 0%, 4%;
  --appForegroundStrongest: 0, 0%, 0%;
  --appBackgroundWeakest: 0, 0%, 98%;
  --appBackgroundWeaker: 0, 0%, 85%;
  --appBackground: 0, 0%, 70%;
  --appBackgroundStronger: 0, 0%, 57%;
  --appBackgroundStrongest: 0, 0%, 55%;
  --bannerHS: 329, 78%;

  --navHeight: 150px;
  --maxWidth: 1024px;
  --footerHeight: 60px;
  --defaultGap: 1em;
  --borderRadius: 18px;
  --targetX: 50%;

  --pieceSize: 110px;
  --gridSize: 110;
}

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  line-height: 150%;
  overflow: hidden;
  color: hsl(var(--appForeground));
  font-family: 'Text', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px auto;
  overflow: auto;
}

[v-cloak] {
  transition: 250ms ease-out opacity;
  opacity: 0;
}

.disabled,
:disabled {
  pointer-events: none;
  opacity: 0.1;
}

header {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
  margin-top: calc(var(--defaultGap) / 2);
  line-height: 100%;
  font-weight: 400;
  font-family: "Text";
}

h1 {
  font-family: "Display";
  font-size: normal;
}

p {
  padding: 0;
  margin: var(--defaultGap) 0;
}

p:last-of-type {
  margin: var(--defaultGap) 0 0;
}

a,
a:visited,
a:focus,
a:active {
  color: hsl(var(--appForeground));
  text-decoration: none;
  border-bottom: 1px solid hsl(var(--bannerHS), 70%);
}

ul {
  list-style-type: '- ';
  padding-left: 14px;
}

li {
  padding-left: 4px;

}

button {
  font-family: "Display";
  cursor: pointer;
  border: none;
  background: none;
  line-height: 100%;
  user-select: none;
  -webkit-user-select: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: none;
  -webkit-transform-style: preserve-3d;
}

button.inline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: baseline;
  align-content: baseline;
  align-items: center;
  column-gap: 8px;
  white-space: nowrap;
}

section button.inert, section button.inline.inert {
  background-color: hsla(var(--bannerHS), 39%, 1);
  box-shadow: none;
  pointer-events: none;
}

icon {
  display: block;
  mask-size: 20px 20px;
  -webkit-mask-size: 20px 20px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: white;
  width: 15px;
  height: 20px;
  pointer-events: none;
}

icon.bmc {
  mask-image: url(../images/icon_bmc.svg);
  -webkit-mask-image: url(../images/icon_bmc.svg);
}

icon.apple {
  width: 17px;
  mask-size: 17px 19px;
  -webkit-mask-size: 17px 19px;
  mask-image: url(../images/icon_apple.svg);
  -webkit-mask-image: url(../images/icon_apple.svg);
  margin-bottom: 1px;
}

icon.googleplay {
  width: 17px;
  mask-size: 17px 19px;
  -webkit-mask-size: 17px 19px;
  mask-image: url(../images/icon_google_play.svg);
  -webkit-mask-image: url(../images/icon_google_play.svg);
  margin-bottom: 1px;
}

app {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(45deg, hsla(var(--bodyBackground), 0.4) 0px, hsla(var(--bodyBackground), 0.4) 40px, hsla(var(--bodyBackground), 0.45) 40px, hsla(var(--bodyBackground), 0.45) 80px);
  background-attachment: scroll;
  background-repeat: no-repeat, repeat;
  transition: 250ms ease-in-out all;
}

onionskin {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  transition: 250ms ease-out all;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 200;
}

onionskin.show {
  opacity: 1;
  pointer-events: all;
}

onionskin img {
  max-height: 700px;
  height: 90%;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: var(--borderRadius);
}

stage {
  display: flex;
  margin: 0px var(--defaultGap);
  width: calc(100% - 2 * var(--defaultGap));
  height: 100%;
  max-width: var(--maxWidth);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

nav,
subnav,
footer {
  display: flex;
  flex-direction: row;
  height: var(--navHeight);
  width: calc(100% - 2 * var(--defaultGap));
  gap: var(--defaultGap);
  padding: 0 var(--defaultGap);
  align-items: center;
}

selector {
  display: block;
  padding: 0;
  height: auto;
  margin: 0;
}

nav selector {
  overflow: hidden;
  color: hsl(var(--appForeground));
  width: 80px;
  height: 80px;
  border: 0 solid transparent;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border-radius: var(--borderRadius);
  transition: 200ms ease-in-out all;
  scale: 0.8;
}

selector button {
  display: block;
  border-radius: var(--borderRadius);
  background-size: cover;
  white-space: nowrap;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 200ms ease-in-out all;
}

selector.on {
  scale: 1;
}

selector button img {
  opacity: 0;
  width: 100%;
}

nav selector:first-of-type {
  margin-right: 20px;
}

nav selector button {
  color: hsl(var(--appForeground));
  background-blend-mode: luminosity;
  /* filter: grayscale(); */
  /* -webkit-filter: grayscale(); */
  opacity: 0.8;
  /* transform: translateY(30%); */
}

selector button banner {
  display: none;
  position: absolute;
  font-size: 11px;
  background: black;
  z-index: 1;
  color: white;
  padding: 3px 40px;
  border-radius: calc(var(--borderRadius) / 4);
  rotate: -38deg;
  transform: translate(-29px, -18px);
  text-transform: capitalize;
  box-shadow: 0 2px 2px hsla(var(--appForeground), 0.2);
  font-family: "Display";
  transition: 200ms ease-in-out all;
}

nav selector button banner {
  transform: translate(-29px, -58px);
  opacity: 0;
}

selector.on button banner {
  opacity: 1;
  transform: translate(-29px, -18px);
}

selector button banner.free, selector button banner.paid {
  background-color: hsl(var(--bannerHS), 39%);
  color: rgb(255, 255, 255);
}

selector button banner.beta {
  background: hsl(var(--bannerHS), 58%);
}

selector button banner.alpha {
  background: hsl(var(--bannerHS), 91%);
  color: hsl(var(--bannerHS), 39%);
}

selector.banner button banner {
  display: block;
}

nav selector.on {
  /* pointer-events: none; */
  cursor: default;
}

nav selector.on button,
nav selector:hover.on button {
  cursor: default;
  opacity: 1;
  filter: none;
  transform: translateY(0%);
}

nav selector:hover button {
  opacity: 1;
  /* transform: translateY(20%); */
}

content {
  display: block;
  width: calc(100% - 4 * var(--defaultGap));
  height: 100%;
  max-height: calc(100% - var(--navHeight) - var(--footerHeight) - 4 * var(--defaultGap));
  overflow: auto;
  background-color: hsla(var(--appBackgroundWeakest), 0.88);
  background-size: cover;
  background-position: 0px -100px;
  background-repeat: no-repeat;
  padding: calc(2 * var(--defaultGap));
  border-radius: var(--borderRadius);
  box-shadow: 0px 10px 20px hsla(var(--appForeground), 0.6);
}

content::-webkit-scrollbar {
  display: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  touch-action: auto;
  scroll-behavior: smooth;
}

section.collapsed {
  max-height: 318px;
  overflow: hidden;
  margin-bottom: calc(2 * var(--defaultGap));
}

sectionToggle {
  cursor: pointer;
  display: block;
  color: hsl(var(--bannerHS), 21%);
  padding-top: 30px;
  -webkit-backdrop-filter: blur(4px);
  transform: translateY(-50px);
}

section.expanded {
  max-height: 112000px;
  overflow: hidden;
}

section h2 {
  margin-top: var(--defaultGap);
  padding-top: var(--defaultGap);
  border-top: 1px solid hsla(var(--appForeground), 0.1);
}

section intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--defaultGap);
}

section intro h1 span {
  font-weight: 400;
  font-family: "Text";
  font-size: 0.5em;
  color: hsl(var(--appForegroundWeakest));
}

section intro h2,
section h3 {
  font-family: "Text";
  font-weight: 400;
  padding-top: 0;
  margin-top: calc(var(--defaultGap) / 3);
  border: none;
  color: hsl(var(--appForegroundWeakest));
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
}

section h3 {
  margin-top: calc(var(--defaultGap));
  color: hsl(var(--appForeground))
}

section intro p {
  margin: 10px 0 0 0;
}

section intro img {
  max-width: 300px;
  border-radius: calc(var(--borderRadius) / 2);
  overflow: hidden;
}

section intro button, section button.action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  border-radius: 17px;
  background-color: hsl(var(--bannerHS), 50%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  color: hsl(var(--appBackgroundWeakest));
  padding: 0 20px;
  margin: calc(2 * var(--defaultGap)) 0 var(--defaultGap) 0;
  transform: translateX(-3px);
}

.showmore {
  color: hsla(var(--appForegroundWeakest), 100%);
  /* text-align: center; */
  cursor: pointer;
}

section button.action {
  margin-top: var(--defaultGap);
  background-image: none;
}

section intro button.light {
  display: none;
  background: hsl(var(--appForegroundWeakest));
  color: hsla(var(--appBackgroundWeakest), 1);
}

section h4 {
  font-weight: 600;
  margin-top: var(--defaultGap);
  margin-bottom: 0;
  padding-bottom: 0;
}

screenshots, features ul, quotes {
  display: flex;
  flex: 1;
  gap: calc(var(--defaultGap));
  overflow-x: auto;
  overflow-y: hidden;
  width: calc(100%);
  padding: var(--defaultGap) 0 0;

}

screenshots {
  padding: var(--defaultGap) calc(2 * var(--defaultGap)) 0;
  margin-left: calc(-2 * var(--defaultGap));
}

quotes {
  flex-wrap: wrap;
  column-gap: calc(var(--defaultGap));
  row-gap: calc(var(--defaultGap));
  padding: 0;
  margin: var(--defaultGap) 0;
}

quotes quote {
  display: block;
  line-height: 150%;
  width: calc(100% - var(--defaultGap) * 3);
  max-width: calc(50% - var(--defaultGap) * 3);
  margin: 0;
  color: hsl(var(--appForegroundWeaker));
  /* border-radius: var(--borderRadius);
  background: hsla(var(--appBackgroundWeakest), .6);
  */
  padding: 0;
}

quote statement {
  display: inline-block;
  font-style: italic;
  /* text-align: center; */
}

quote attribution {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  color: hsla(var(--appForeground), 0.6);
}

quote attribution::before {
  content: ' – ';
  padding-left: 4px;
}

features ul {
  gap: calc(var(--defaultGap) / 2);
  flex-wrap: wrap;
  margin-top: 0;
  /* flex-direction: column; */
  /* max-height: 8em; */
}

features ul li {
  list-style-type: none;
  padding: calc(var(--defaultGap) /2) var(--defaultGap);
  margin: 0;
  border-radius: var(--borderRadius);
  background: hsla(var(--bannerHS), 100%, 1);
  color: hsl(var(--bannerHS), 50%);
  /* width: calc(25% - var(--defaultGap) * 2); */
  /* display: flex; */
  /* justify-content: center; */
}

installers {
  display: flex;
  flex: 1;
  gap: calc(var(--defaultGap) / 2);
  width: calc(100%);
}

screenshots::-webkit-scrollbar {
  display: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  touch-action: auto;
  scroll-behavior: smooth;
}

screenshots screenshot {
  cursor: pointer;
  /* flex-basis: 300px; */
  height: 440px;
}

screenshots screenshot img {
  min-width: 194px;
  height: 420px;
  border-radius: var(--borderRadius);
  overflow: hidden;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: var(--defaultGap);
  border: 1px solid white;
}

communities community {
  display: block;
  line-height: 150%;
  width: auto;
  margin: var(--defaultGap) 0 0;
  /* border-radius: var(--borderRadius); */
  /* background: hsla(var(--appBackgroundWeakest), .15); */
  /* padding: var(--defaultGap); */
}

communities community p, communities community p:last-of-type {
  padding: 0;
  margin: 0;
  line-height: 150%;
}

communities community h3, communities community ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  ;
}


communities community li {
  list-style-type: '↳ ';
  margin-left: 14px;
  line-height: 200%;
  color: hsl(var(--appForegroundWeakest));
}

communities community h3 {
  margin-bottom: var(--defaultGap);
}

logo:hover {
  transition: 30s ease-out all;
  opacity: 0.6;
  transform: scale(0.9);
}

logo img {
  opacity: 0;
}

version,
credit {
  display: block;
}

games {
  width: 100%;
  margin-top: calc(2 * var(--defaultGap));
  margin-bottom: calc(2 * var(--defaultGap));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

games selector {
  width: calc(50% - 10px);
}

games selector button {
  border-radius: 4px;
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

games selector button img {
  opacity: 0;
  width: 100%;
}

footer {
  max-width: var(--maxWidth);
  margin: 0 auto;
  font-size: 0.8em;
  text-align: left;
  align-items: center;
  height: var(--footerHeight);
  color: hsla(var(--appBackgroundWeakest), 0.9);
  position: absolute;
  bottom: 0px;
}

content footer {
  display: none;
  height: auto;
  color: hsla(var(--appForeground), 0.9);
  position: relative;
}

footer a, footer a:visited, footer a:active {
  color: hsl(var(--appBackgroundWeakest));
  text-decoration: none;
  border: none;
}

footer a::before {
  content: ' | ';
  display: inline-block;
  padding-right: var(--defaultGap);
}

@media only screen and (max-width: 500px) {
  :root {
    --navHeight: 120px;
    --footerHeight: 40px;

    --defaultGap: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: calc(var(--defaultGap) / 2) 0px 0px 0px;
    font-weight: normal;
  }

  nav,
  subnav,
  footer {
    justify-content: center;
  }

  nav {
    align-items: center;
  }

  nav selector {
    width: 80px;
    display: none;
    opacity: 1;
  }

  nav selector:first-child,
  nav selector.on:first-child {
    display: block;
    margin: 0px;
    scale: 1;
  }

  nav selector button,
  nav selector:hover button {
    opacity: 1;
    transform: translateY(0%);
  }

  stage {
    width: 100%;
    margin: 0;
  }

  content {
    border-radius: 0;
    box-shadow: none;
    max-height: calc(100% - var(--navHeight) - 3 * var(--defaultGap));
  }

  section intro img {
    display: none;
  }

  games {
    margin-top: var(--defaultGap);
    margin-bottom: var(--defaultGap);
    justify-content: center;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
  }

  games selector {
    flex-basis: 100%;
    margin: var(--defaultGap) 0px;
  }

  footer {
    display: none;
  }


  footer a, footer a:visited, footer a:active {
    color: hsla(var(--appForeground), 0.8);
    text-decoration: none;
  }

  content footer {
    margin-top: calc(2 * var(--defaultGap));
    border-top: 1px solid hsla(var(--appForeground), 0.1);
    padding: var(--defaultGap) 0 0;
    display: flex;
    width: 100%;
    justify-content: start;
    color: hsla(var(--appForeground), 0.7);
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --appBackgroundWeakest: 0, 0%, 0%;
    --appBackgroundWeaker: 0, 0%, 0%;
    --appBackground: 0, 0%, 0%;
    --appBackgroundStronger: 0, 0%, 0%;
    --appBackgroundStrongest: 0, 0%, 0%;
    --appForegroundWeakest: 0, 0%, 100%;
    --appForegroundWeaker: 0, 0%, 100%;
    --appForeground: 0, 0%, 100%;
    --appForegroundStronger: 0, 0%, 100%;
    --appForegroundStrongest: 0, 0%, 100%;
  }

  section intro h1 span,
  section intro h2 {
    color: hsla(var(--appForeground), 0.7);
  }

  content {
    padding-top: var(--defaultGap);
    max-height: calc(100% - var(--navHeight) - 3 * var(--defaultGap));
    background-color: transparent;
    box-shadow: none;
  }

  section intro button, section button.action {
    color: hsl(var(--appForegroundWeakest));
    box-shadow: 0px 4px 8px hsla(var(--bodyBackground), 0.4);
  }

  section intro button.light {
    display: block;
  }

  section intro button.dark {
    display: none;
  }

  sectionToggle {
    color: hsla(0, 0%, 91%, 0.8);
  }

  selector button banner {
    box-shadow: 0px 2px 2px hsla(var(--bodyBackground), 0.2);
  }

  quotes {
    gap: 4px;
  }

  quotes quote {
    max-width: unset;
    width: calc(100%);
    background: hsla(var(--appBackgroundWeakest), .4);
    padding: var(--defaultGap);
    border-radius: var(--borderRadius);
  }

  quotes attribution {
    color: hsla(var(--appForeground), 0.8);
  }

  features ul {
    gap: 4px;
  }

  features ul li {
    background: hsla(var(--bannerHS), 96%, 1);
    font-size: .9em;
    /* color: hsl(var(--bannerHS), 50%); */
    padding: calc(var(--defaultGap) / 4) calc(var(--defaultGap));
    /* width: calc(25% - var(--defaultGap) / 2); */
    /* display: flex; */
    /* justify-content: center; */
  }

}